*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/ChatClient/out/
/ChatServer/out/

# User-specific stuff:
/ChatClient/.idea/workspace.xml
/ChatClient/.idea/tasks.xml
/ChatClient/.idea/dictionaries
/ChatClient/.idea/vcs.xml
/ChatClient/.idea/jsLibraryMappings.xml

/ChatServer/.idea/workspace.xml
/ChatServer/.idea/tasks.xml
/ChatServer/.idea/dictionaries
/ChatServer/.idea/vcs.xml
/ChatServer/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
/ChatClient/.idea/dataSources.ids
/ChatClient/.idea/dataSources.xml
/ChatClient/.idea/sqlDataSources.xml
/ChatClient/.idea/dynamic.xml
/ChatClient/.idea/uiDesigner.xml

/ChatServer/.idea/dataSources.ids
/ChatServer/.idea/dataSources.xml
/ChatServer/.idea/sqlDataSources.xml
/ChatServer/.idea/dynamic.xml
/ChatServer/.idea/uiDesigner.xml

# Gradle:
/ChatClient/.idea/gradle.xml
/ChatClient/.idea/libraries

/ChatServer/.idea/gradle.xml
/ChatServer/.idea/libraries